---
layout: default
title: Blog Posts
---

<div id="home">
  <h2><i class="fa fa-star"></i> <a href="/about.html">About</a></h2>
  
  <h2><i class="fa fa-bookmark"></i> Blog Posts</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
