<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Remembering with Anki</title>
<meta name="author" content="(Erik Hetzner)"/>
<link rel="stylesheet" href="./reveal.js/css/reveal.css"/>
<link rel="stylesheet" href="./reveal.js/css/theme/moon.css" id="theme"/>
<link rel="stylesheet" href=""/>
<!-- If the query includes 'print-pdf', include the PDF print sheet -->
<script>
    if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = './reveal.js/css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    }
</script>
</head>
<body>
<div class="reveal">
<div class="slides">
<section id="sec-title-slide">
<h1>Remembering with Anki</h1>
<h2>Erik Hetzner</h2>
<h2><a href="mailto:ehetzner@plos.org">ehetzner@plos.org</a></h2>
<h2></h2>
</section>
<section id="table-of-contents">
<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#/slide-orgheadline1">What is Anki?</a></li>
<li><a href="#/slide-orgheadline2">Mobile</a></li>
<li><a href="#/slide-orgheadline3">Mobile 2</a></li>
<li><a href="#/slide-orgheadline4">Spaced repetition</a></li>
<li><a href="#/slide-orgheadline5">Spaced repetition 2</a></li>
<li><a href="#/slide-orgheadline6">Fields create multiple cards</a></li>
<li><a href="#/slide-orgheadline7">Fields create multiple cards 2</a></li>
<li><a href="#/slide-orgheadline8">Other features</a></li>
</ul>
</div>
</div>
</section>
<section>
<section id="slide-orgheadline1">
<h2 id="orgheadline1">What is Anki?</h2>
<ul>
<li>“Friendly, intelligent flashcards”</li>

</ul>
</section>
</section>
<section>
<section id="slide-orgheadline2">
<h2 id="orgheadline2">Mobile</h2>

<div class="figure">
<p><img src="anki_android_1.png" alt="anki_android_1.png" style="max-height: 500px" />
</p>
</div>
</section>
</section>
<section>
<section id="slide-orgheadline3">
<h2 id="orgheadline3">Mobile 2</h2>

<div class="figure">
<p><img src="anki_android_2.png" alt="anki_android_2.png" style="max-height: 500px" />
</p>
</div>
</section>
</section>
<section>
<section id="slide-orgheadline4">
<h2 id="orgheadline4">Spaced repetition</h2>
<ul>
<li>Increasing intervals between testing</li>
<li>e.g. 1 day, 2 days, 4 days, 8 days, etc.</li>

</ul>
</section>
</section>
<section>
<section id="slide-orgheadline5">
<h2 id="orgheadline5">Spaced repetition 2</h2>

<div class="figure">
<p><img src="anki_android_3.png" alt="anki_android_3.png" style="max-height: 500px" />
</p>
</div>
</section>
</section>
<section>
<section id="slide-orgheadline6">
<h2 id="orgheadline6">Fields create multiple cards</h2>
<p>
This will create a card for each direction
</p>

<div class="figure">
<p><img src="anki_desktop_add.png" alt="anki_desktop_add.png" style="max-height: 500px" />
</p>
</div>
</section>
</section>
<section>
<section id="slide-orgheadline7">
<h2 id="orgheadline7">Fields create multiple cards 2</h2>
<p>
This will create many cards
</p>

<div class="figure">
<p><img src="anki_desktop_conj.png" alt="anki_desktop_conj.png" style="max-height: 500px" />
</p>
</div>
</section>
</section>
<section>
<section id="slide-orgheadline8">
<h2 id="orgheadline8">Other features</h2>
<ul>
<li>LaTeX</li>
<li>Images</li>
<li>Cloze
<ul>
<li>Create multiple cards from hidden text</li>
<li><code>{{c2::Canberra}} was founded in {{c1::1913}}.</code></li>

</ul></li>
<li>Mobile apps (android &amp; iphone)</li>
<li>Sync mobile/desktop via ankiweb.net (with media sync)</li>
<li>Audio</li>

</ul>
</section>
</section>
</div>
</div>
<script src="./reveal.js/lib/js/head.min.js"></script>
<script src="./reveal.js/js/reveal.js"></script>

<script>
// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({

controls: true,
progress: true,
history: false,
center: true,
slideNumber: true,
rollingLinks: false,
keyboard: true,
overview: true,

theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
transitionSpeed: 'default',
multiplex: {
    secret: '', // null if client
    id: '', // id, obtained from socket.io server
    url: '' // Location of socket.io server
},

// Optional libraries used to extend on reveal.js
dependencies: [
 { src: './reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
 { src: './reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
 { src: './reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
 { src: './reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
 { src: './reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }]
});
</script>
</body>
</html>
