<nav>
  <a href="/about.html">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img width="100" src="/assets/erik.jpeg" id="logo" alt="Photo"/>
    {% endif %}
  </a>
  <h2><a href="/about.html">{{ site.data.theme.name }}</a></h2>
  <div id="bio">
    <p>
      <a href="http://www.fsf.org">free software</a>,<br>
      <a href="https://www.plos.org/open-access/">open access</a>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
